@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
}

.logo {
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: none;
}

#menu {
  display: flex;
  align-items: center;
  list-style: none;
}

#menu a {
  display: inline-block;
  color: #FFFFFF;
  margin-left: 60px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#menu a::after {
  display: block;
  content: '';
  border-bottom: 2px solid #FFFFFF;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
#menu a:hover::after {
  transform: scaleX(1);
}

#btn-mobile {
  display: none;
}

@media (max-width: 653px) {
  .logo {
    display: block;
    margin-left: -20px;
  }
  #menu {
    display: block;
    flex-direction: column;
    width: 20rem;
    height: 0px;
    box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.582);
    position: absolute;
    top: 60px;
    right: 0rem;
    transition: .8s;
    z-index: 5;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    display: block;
    margin-top: 1rem;
    margin-left: 0;
    padding-top: 40px;
    padding-right: 1rem;
    text-align: end;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
  }
  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  #hamburguer {
    border-top: 2px solid;
    width: 30px;
    color: #FFFFFF;
  }
  #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 40px;
  margin-top: 30px;
}

.img-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-about h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  padding: 20px;
  width: 500px;
}

.img-about img {
  width: 800px;
  margin-top: 40px;
  border-radius: 8px;
}